@use '@styles/variables.scss';

.fieldset {
  margin-bottom: 2rem;
}

.axleLoadVisualization {
  margin-bottom: 20px;

  h3 {
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
}

.emptyMessage {
  max-width: variables.$visualization-width;
  margin-bottom: 2rem;
}
