@use '@styles/variables.scss';

.baseField {
  max-width: 344px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &.error {
    input {
      border-color: variables.$color-danger;

      &:hover {
        border-color: variables.$color-danger-dark;
      }

      &:focus {
        border-color: variables.$color-danger-dark;
        box-shadow: 0 0 0px 1px rgba(variables.$color-danger, 1);
      }
    }
  }
}

.label {
  display: inline-flex;
  align-items: baseline;
  gap: 4px;

  label {
    white-space: normal;
  }
}

.field {
  position: relative;
}

.units {
  position: absolute;
  top: 50%;
  right: 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: variables.$color-text-subtitle;
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type='range'] + .units {
  top: calc(50% - 3px);
}
