@use '@styles/variables.scss';

.baseField {
  max-width: 344px;

  &.error {
    input {
      border-color: variables.$color-danger;

      &:hover {
        border-color: variables.$color-danger-dark;
      }

      &:focus {
        border-color: variables.$color-danger-dark;
        box-shadow: 0 0 0px 1px rgba(variables.$color-danger, 1);
      }
    }
  }
}

.label {
  display: inline-flex;
  align-items: baseline;
  gap: 4px;

  label {
    white-space: normal;
    // display: inline-block;
  }
}

.field {
  position: relative;
}

.units {
  position: absolute;
  top: 50%;
  right: 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: variables.$color-text-subtitle;
  transform: translateY(-50%);
  // transition: transform 0.1s ease;
  z-index: -1;
}

@media (min-width: 600px) {
  // input:hover + .units,
  // input:focus + .units {
  //   transform: translate(-20px, -50%);
  // }
}
