@use '@styles/variables';

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &:focus {
    text-decoration: none;
  }

  &:hover,
  &:global(.focus-visible) {
    text-decoration: none;

    .text {
      color: variables.$color-primary-hover;
    }
  }

  img {
    width: auto;
    max-width: 34px;
    height: 26px;
  }
}

.text {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.15;
  margin-left: 6px;
  transition: color variables.$duration ease-in-out;
}
