@use '@styles/variables';

.rangeField {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  position: absolute;
  bottom: -6px;
  left: 0;
  width: calc(100% - 16px);
  margin: 0 8px;
  background-color: transparent;
  cursor: pointer;

  /* WebKit (Chrome, Safari, Edge) */
  &::-webkit-slider-runnable-track {
    display: block;
    height: 2px;
    background-color: variables.$color-primary;
    border-radius: 2px;
    outline: none;
    transform: translateY(-8px);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: variables.$color-white;
    border: 8px solid variables.$color-primary;
    border-radius: 50%;
    box-sizing: border-box;
    transform: translateY(calc(-50% + 1px)) scale(1);
    transition: border-color variables.$duration ease-in-out,
      transform variables.$duration ease-in-out;

    &:hover {
      border-color: variables.$color-primary-hover;
      transform: translateY(calc(-50% + 1px)) scale(1.2);
    }
  }

  // Firefox artifacts
  &::-moz-range-track {
    height: 2px;
    background-color: variables.$color-primary;
    border-radius: 2px;
    outline: none;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: variables.$color-white;
    border: 8px solid variables.$color-primary;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(1);
    transition: border-color variables.$duration ease-in-out,
      transform variables.$duration ease-in-out;

    &:hover {
      border-color: variables.$color-primary-hover;
      transform: scale(1.2);
    }
  }

  // Edge artifacts
  &::-ms-track {
    width: 100%;
    height: 6px;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
