@use './variables';

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid variables.$color-primary-hover;
  outline-offset: 2px;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
}

html {
  height: 100%;
  min-width: 320px;

  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;

  min-width: 360px;
  min-height: 100vh;

  font-size: 16px;
  font-family: variables.$font-family;
  line-height: 1.3;
  color: variables.$color-text-primary;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-family;
  line-height: 1.1;
  margin: 0.67rem 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  color: variables.$color-primary;

  &:focus,
  &:hover {
    text-decoration: underline;
    color: variables.$color-primary-hover;
  }
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

// Скрытие стандартного фокуса для мыши
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

// Сильный индикатор фокуса для клавиатуры
.js-focus-visible .focus-visible {
  outline: 2px solid variables.$color-primary-hover;
  outline-offset: 2px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
