@use './variables';

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid variables.$color-primary-hover;
  outline-offset: 2px;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  font-family: variables.$font-family;
  font-weight: 500;
  color: variables.$color-text-primary;

  /* color-scheme: light dark; */
}

html {
  height: 100%;
  // min-width: 360px;
  min-width: max(360px, 100vw);

  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;

  // min-width: 360px;
  min-width: max(360px, 100vw);
  min-height: 100vh;

  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-family;
  font-weight: 600;
  line-height: 1.15;
  margin: 0.67rem 0;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  color: variables.$color-primary;

  &:hover {
    text-decoration: underline;
    color: variables.$color-primary-hover;
  }
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

.btn {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: variables.$color-white;
  background-color: variables.$color-primary;
  border: none;
  border-radius: 0.5em;
  padding: 12px 16px 11px;
  transition: background-color variables.$duration ease-in-out;
  cursor: pointer;

  &--icon {
    position: relative;
    padding-left: 38px;

    .icon {
      position: absolute;
      top: 50%;
      left: 16px;
      width: 16px;
      height: 16px;
      fill: variables.$color-white;
      transform: translateY(-50%);
    }
  }

  &:hover {
    background-color: variables.$color-primary-hover;
  }

  &--outline {
    color: variables.$color-primary;
    background-color: transparent;
    border: 1px solid variables.$color-primary;
    padding: 10px 14px 9px;
    transition: color variables.$duration ease-in-out,
      background-color variables.$duration ease-in-out, border-color variables.$duration ease-in-out;

    &.btn--icon {
      padding-left: 37px;
    }

    .icon {
      fill: variables.$color-primary;
      transition: fill variables.$duration ease-in-out;
    }

    &:hover {
      color: variables.$color-primary-hover;
      background-color: variables.$color-hover;
      border-color: variables.$color-primary-hover;

      .icon {
        fill: variables.$color-primary-hover;
      }
    }

    &:disabled {
      color: variables.$color-text-secondary;
      background-color: variables.$color-background;
      border-color: variables.$color-text-subtitle;
      cursor: not-allowed;

      .icon {
        fill: variables.$color-text-secondary;
      }
    }
  }
}

// Скрытие стандартного фокуса для мыши
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

// Сильный индикатор фокуса для клавиатуры
.js-focus-visible .focus-visible {
  outline: 2px solid variables.$color-primary-hover;
  outline-offset: 2px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 359px) {
  body {
    transform: scale(calc(100vw / 360));
    transform-origin: top left;
    width: 360px;
    overflow-x: hidden;
  }
}

@media (min-width: 370px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
