@use 'sass:color';

$color-primary: #2377f6;
$color-primary-light: color.adjust($color-primary, $saturation: 2%, $lightness: 15%); // #6ba4fb
$color-primary-dark: color.adjust($color-primary, $saturation: -17%, $lightness: -17%); // #1852aa
$color-primary-hover: color.adjust($color-primary, $saturation: -10%, $lightness: -10%); // #1560d1
$color-hover: color.adjust($color-primary, $saturation: -18%, $lightness: 42%); // #f2f6fd
$color-surface: #f4f5f5;

$color-background: #efeff0;

$color-text-primary: #232323;
$color-text-secondary: color.adjust(
  $color-text-primary,
  $hue: 213,
  $saturation: 13%,
  $lightness: 27%
);
// #5a6675
$color-text-subtitle: color.adjust(
  $color-text-primary,
  $hue: 214,
  $saturation: 15%,
  $lightness: 54%
);
// #a0abb9
$color-text-subtitle-light: color.adjust(
  $color-text-primary,
  $hue: 215,
  $saturation: 13%,
  $lightness: 68%
);
// #cacfd6

$color-success: #32b94f;
$color-success-light: color.adjust($color-success, $saturation: 4%, $lightness: 26%); // #8ce49f
$color-success-dark: color.adjust($color-success, $saturation: -18%, $lightness: -8%); // #3b874b

$color-warning: #f2a50d;
$color-warning-light: color.adjust($color-warning, $saturation: 1%, $lightness: 23%); // #f9cf7c
$color-warning-dark: color.adjust($color-warning, $saturation: -32%, $lightness: -8%); // #a97f2d

$color-danger: #f44734;
$color-danger-light: color.adjust($color-danger, $hue: -1, $saturation: 1%, $lightness: 15%);
// #f9867c
$color-danger-dark: color.adjust($color-danger, $saturation: -32%, $lightness: -16%); // #a93a2d

$color-white: #ffffff;

$font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
$border-radius: 0.5rem;

$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 767px;
$grid-breakpoints-lg: 992px;
$container-max-width: 1200px;

$duration: 0.25s;

$statuses: (
  success: (
    base: #32b94f,
    light: color.adjust(#32b94f, $saturation: 4%, $lightness: 26%),
    dark: color.adjust(#32b94f, $saturation: -18%, $lightness: -8%),
  ),
  warning: (
    base: #f2a50d,
    light: color.adjust(#f2a50d, $saturation: 1%, $lightness: 23%),
    dark: color.adjust(#f2a50d, $saturation: -32%, $lightness: -8%),
  ),
  danger: (
    base: #f44734,
    light: color.adjust(#f44734, $hue: -1, $saturation: 1%, $lightness: 15%),
    dark: color.adjust(#f44734, $saturation: -32%, $lightness: -16%),
  ),
  remove: (
    base: #f44734,
    light: color.adjust(#f44734, $hue: -1, $saturation: 1%, $lightness: 15%),
    dark: #f44734,
  ),
);
