@use '@styles/variables.scss';

// Анимация для кабины во время активного статуса 'loading', пока загружаются данные нагрузки
@keyframes shineLoader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.wrapper {
  position: relative;
  margin: 0 16px 8px;
}

.cab {
  position: relative;
  background-color: variables.$color-background;
  border-width: 4px;
  border-style: solid;
  padding: 12px;

  &--default {
    background-color: variables.$color-background;
    border-color: variables.$color-text-primary;
  }

  &--success {
    background-color: variables.$color-success-light;
    border-color: variables.$color-success-dark;
  }

  &--warning {
    background-color: variables.$color-warning-light;
    border-color: variables.$color-warning-dark;
  }

  &--danger {
    background-color: variables.$color-danger-light;
    border-color: variables.$color-danger-dark;
  }

  &--loading {
    border-color: variables.$color-text-secondary;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, transparent 0%, #d3daec 50%, transparent 100%);
      transform: translateX(-100%);
      animation: shineLoader 2s infinite;
    }
  }

  h4,
  span {
    position: relative;
    z-index: 1;
  }
}

.name {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 4px;
}
