@use '@styles/variables';

.error {
  max-width: 380px;
  color: variables.$color-danger-dark;
  background-color: #fdecea;
  border: 1px solid variables.$color-danger-dark;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;

  p {
    margin-bottom: 0.75rem;
  }
}
