@use '@styles/variables';

.header {
  border-bottom: 1px solid variables.$color-text-subtitle-light;
  padding: 0.75rem 0;
  margin-bottom: 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}
